[package]
name = "sv-mint"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1"
clap = { version = "4", features = ["derive"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
toml = "0.8"
sv-parser = "=0.13.4"
regex = "1"

[profile.release]
lto = "thin"
codegen-units = 1
panic = "abort"

[dev-dependencies]
assert_cmd = "2"
predicates = "3"